{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if answer %}
<div class="alert alert-primary" role="alert">
    The Answer Is: {{ answer }}
</div>
{% endif %}
<div class="d-flex justify-content-center">


    <form action='{% url 'app:ackerman' %}' method='post'>
        {% csrf_token %}
        <div class="form-group">
            <label>Ackerman Function</label>
            {{ form | crispy }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock content %}