<!DOCTYPE html>
<html lang="en">
<head>
  <title>Interview Test Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .asteriskField {
      color: red;
    }

  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Test App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
<li>        <a class="nav-link" href="{% url 'app:fibonacci' %}" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
          Fibonacci Sequence
        </a></li>
<li>        <a class="nav-link" href="{% url 'app:ackerman' %}" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
          Ackerman Function
        </a></li>
<li>                <a class="nav-link" href="{% url 'app:factorial' %}" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
          Factorial
        </a></li>

      </li>
    </ul>
  </div>
</nav>



{% block content %}

{% endblock content %}



</body>
</html>
