{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if answer %}
<div class="alert alert-primary" role="alert">
    The Answer Is: {{ answer }}
</div>
{% endif %}

<div class="d-flex justify-content-center">


    <form action='{% url 'app:fibonacci' %}' method='post'>
        <div class="form-group">
            <label>Fibonacci Sequence</label>
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock content %}